extends layout

block content
  div.row
    div.col-md-12
      h3= challenge.name
      p= challenge.instructions
  hr
  div.row
    div.col-md-8
      h3(style="margin-top:0;") Input Commands
      div.form-group
        if user
          textarea.form-control.terminal_font#commands(rows="8")
          button.btn.btn-primary#submit_code(style='margin-top: 15px;') Submit
        else
          textarea.form-control#commands(rows="8", disabled='disabled')
          button.btn.btn-primary#submit_code(disabled='disabled') Log in to Submit
      div#contents_area
        h3#filename_heading File Contents:
        div.form-group
          textarea.form-control.terminal_font#file_contents(rows="8")
    div.col-md-4
      div.panel-group#states-accordion
        div.panel.panel-info
          div.panel-heading
            h4.panel-title
              a(data-toggle='collapse', data-parent='#states-accordion', href='#collapseBefore') Before
          div.panel-collapse.collapse.in#collapseBefore
            div.panel-body
              +dirStructure(challenge.start)
        div.panel.panel-success
          div.panel-heading
            h4.panel-title
              a(data-toggle='collapse', data-parent='#states-accordion', href='#collapseAfter') After
          div.panel-collapse.collapse#collapseAfter
            div.panel-body
              +dirStructure(challenge.end)
        div.panel.panel-warning#panel-output(style='display: none;')
          div.panel-heading
            h4.panel-title
              a.collapse-title(data-toggle='collapse', data-parent='#states-accordion', href='#collapse-output') Output
          div.panel-collapse.collapse#collapse-output
            div.panel-body
              pre#pre-output
        div.panel.panel-primary#panel-score(style='display: none;')
          div.panel-heading
            h4.panel-title
              a.collapse-title(data-toggle='collapse', data-parent='#states-accordion', href='#collapse-score') Score
          div.panel-collapse.collapse#collapse-score
            div.panel-body
              p#score
  script(src="/javascripts/sg-challenge.js")


mixin dirStructure(dir)
  pre
    | .
    +subDir(dir, 0)

// contain the ugly stuff in here o_O
mixin dirRow(name, contents, spaces, end)
  - var anchor = '<a onclick="showContents(\'' + name + '\', \'' + contents + '\')">'
  // need this here because jade has wacky scoping
  - String.prototype.repeat = function(num){return new Array(num + 1).join(this);}
  - var boxStr = end ? '└── ' : '├── '

  != '\n' + ' '.repeat(spaces) + boxStr + anchor + name + '</a>'

mixin subDir(dir, spaces)
  - var i

  if dir && dir.length > 0
    - for(i = 0; i < dir.length - 1; i++)
      +dirRow(dir[i].name, dir[i].contents, spaces, false)
    if dir.subdirs && dir.subdirs.length > 0
      +dirRow(dir[i].name, dir[i].contents, spaces, false)
    else
      +dirRow(dir[i].name, dir[i].contents, spaces, true)
