doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/sticky-footer.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery.js')
  body
    div#wrap
      div.navbar.navbar-default.navbar-fixed-top
        div.container
          div.navbar-header
            a.navbar-brand(href='/')= title
          div.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              if user
                li
                  a(href='/user/stats')= user.name
                li
                  a(href='/logout') Log Out
                  if user.is_admin
                    li
                      a(href='/admin') Admin
              else
                li
                  a(href='/auth/twitter') Log In
      block content
    div#footer
      div.container
        p.text-muted.credit!= title + ' &copy; ' + authors
    script(src='/javascripts/bootstrap.min.js')
