/* Other CSS
-------------------------------------------------- */
@font-face {
  font-family: terminus;
  src: url(../fonts/terminus.ttf);
}

textarea#commands {
  font-family: terminus;
}

img.user-thumbnail {
  height: 25px;
  width:  25px;
  border-radius: 3px;
  margin-bottom: -9px;
  margin-top: -8px;
}

div.alert,button.flash-close {
  margin-top: -2px;
}
