/* Other CSS
-------------------------------------------------- */
@font-face {
  font-family: terminus;
  src: url(../fonts/terminus.ttf);
}

textarea#commands {
  font-family: terminus;
}

button#submit_code {
  margin-top: 15px;
}

img.user-thumbnail {
  height: 25px;
  width:  25px;
  border-radius: 3px;
  margin-bottom: -9px;
  margin-top: -8px;
}

div.alert,button.flash-close {
  margin-top: -2px;
}

/* Create challenge CSS
-------------------------------------------------- */
textarea.challenge-instructions,
textarea.file-contents {
  resize: none;
  width: 100%;
  min-height: 150px;
  box-sizing:          border-box;
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
}

/*
 * input.challenge-title {
 *   font-size: 24pt;
 *   height: 24px;
 * }
 */

ul.list-files {
  max-height: 200px;
  overflow: auto;
}

li.selected {
  background-color: #BFBFBF;
}
