extends ../layout

block content
  div.row
    div.col-md-6
      div.panel.panel-info
        div.panel-heading Start
      button.btn.btn-default Add +
    div.col-md-6
      div.panel.panel-success
        div.panel-heading End
      button.btn.btn-default Add +
  hr
  div.row
    div.col-md-6
      div.panel.panel-info
        div.panel-heading File Contents
        textarea.file-contents
    div.col-md-6
      div.panel.panel-success
        div.panel-heading File Contents
        textarea.file-contents
